@use "../../styles/variables";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: image-set(
    url("../../assets/images/bg.avif") type("image/avif")
  );
  background-size: cover; /* Or contain, auto, etc. */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  h1 {
    font-family: var(--font-family-base);
    font-size: 16rem;
    color: rgba(176, 224, 230, 0.8);
    -webkit-backdrop-filter: blur(6.2px);
    text-shadow:
      0 2px 8px rgba(0, 0, 0, 0.4),
      0 0px 1px #fff,
      0 8px 32px rgba(70, 130, 180, 0.3);
  }

  p {
    font-family: var(--font-family-base);
    font-size: 1rem;
    color: rgba(0, 102, 255, 0.8);
    text-shadow:
      0 2px 8px rgba(0, 0, 0, 0.4),
      0 0px 1px #fff,
      0 8px 32px rgba(70, 130, 180, 0.3);
  }
}
