// src/styles/_variables.scss

// 1. Google Fonts Import (or add these to your public/index.html <head> for better performance)
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Hebrew:wght@100..900&display=swap");

$primary-hex: #b0e0e6;
$secondary-hex: #007bff;
$accent-hex: #c40048;
$dark-primary-hex: #080016;
$dark-secondary-hex: #007bff;
$dark-accent-hex: #c40048;

// #b0e0e6;

:root {
  // Brand & Accent Colors
  --color-primary: #{$primary-hex};
  --color-secondary: #{$secondary-hex};
  --color-accent: #{$accent-hex};

  // Using for glass colors
  --color-primary-rgb:
    #{red($primary-hex)}, #{green($primary-hex)}, #{blue($primary-hex)};
  --color-secondary-rgb:
    #{red($secondary-hex)}, #{green($secondary-hex)}, #{blue($secondary-hex)};
  --color-accent-rgb:
    #{red($accent-hex)}, #{green($accent-hex)}, #{blue($accent-hex)};

  // Glass colors
  --color-primary-glass: rgba(var(--color-primary-rgb), 0.5);
  --color-secondary-glass: rgba(var(--color-secondary-rgb), 0.7);
  --color-accent-glass: rgba(var(--color-accent-rgb), 0.7);

  // Text Colors
  --color-text-primary: #2b1724;
  --color-text-secondary: #361e2b;
  --color-text-inverted: #ffffff;

  // Border & Shadow
  --color-border: black; // Border related to sky theme
  --color-shadow: rgba(0, 0, 0, 0.1);

  // Status Colors
  --color-status-available: #2ecc40;
  --color-status-unavailable: #f43652;
  --color-status-tentative: #f4b536;

  --font-family-p: "Lato", "Noto Sans Hebrew", sans-serif;
  --font-family-h: "Noto Sans Hebrew", sans-serif;

  // bg image

  --bg: url("/bgs/bg-light.avif");
}
:root.dark-mode {
  // Brand & Accent Colors
  --color-primary: #{$dark-primary-hex};
  --color-secondary: #{$dark-secondary-hex};
  --color-accent: #{$dark-accent-hex};

  // Using for glass colors
  --color-primary-rgb:
    #{red($dark-primary-hex)}, #{green($dark-primary-hex)},
    #{blue($dark-primary-hex)};
  --color-secondary-rgb:
    #{red($dark-secondary-hex)}, #{green($dark-secondary-hex)},
    #{blue($dark-secondary-hex)};
  --color-accent-rgb:
    #{red($dark-accent-hex)}, #{green($dark-accent-hex)},
    #{blue($dark-accent-hex)};

  // Glass colors
  --color-primary-glass: rgba(var(--color-primary-rgb), 0.7);
  --color-secondary-glass: rgba(var(--color-secondary-rgb), 0.7);
  --color-accent-glass: rgba(var(--color-accent-rgb), 0.7);

  // Text Colors
  --color-text-primary: #f5efff;
  --color-text-secondary: #f2e9f6;
  --color-text-inverted: #181818;

  // Border & Shadow
  --color-border: black; // Border related to sky theme
  --color-shadow: rgba(0, 0, 0, 0.1);

  // Status Colors
  --color-status-available: #2ecc40;
  --color-status-unavailable: #f43652;
  --color-status-tentative: #f4b536;

  --font-family-p: "Lato", "Noto Sans Hebrew", sans-serif;
  --font-family-h: "Noto Sans Hebrew", sans-serif;

  --bg: url("/bgs/bg-dark.avif");
}
@mixin h1Theme($color: var(--color-text-primary)) {
  color: $color;
  font-family: var(--font-family-h);
  font-weight: 700;
  font-size: 2.5rem;
}
@mixin h2Theme($color: var(--color-text-primary)) {
  color: $color;
  font-family: var(--font-family-h);
  font-weight: 500;
  font-size: 2rem;
}

@mixin h3Theme($color: var(--color-text-primary)) {
  color: $color;
  font-family: var(--font-family-h);
  font-weight: 800;
  font-size: 1.5rem;
}

@mixin strongTheme($color: var(--color-text-primary)) {
  color: $color;
  font-family: var(--font-family-p);
  font-weight: 700;
  font-size: 1.2rem;
}
@mixin pTheme($color: var(--color-text-secondary)) {
  color: $color;
  font-family: var(--font-family-p);
  font-weight: 400;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

@mixin buttonTheme {
  touch-action: manipulation;
  background-color: var(--color-secondary);
  @include pTheme(white);
  font-weight: 800;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 1px 3px var(--color-secondary);

  &:hover {
    background-color: var(--color-accent);
    box-shadow: 0 2px 8px var(--color-accent);
  }
}

@mixin iconTheme {
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 2px 8px 2px var(--color-secondary); // More spread, softer shadow

  color: var(--color-text-primary);
  &:hover {
    color: var(--color-accent);
    box-shadow: 0 4px 16px 4px var(--color-accent); // Even softer and more spread on hover
  }
}

// In your _variables.scss or a separate mixins file

@mixin bg() {
  background-image: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin logo() {
  font-family: var(--font-family-h);
  font-weight: 700;
}
