@use "../../styles/variables";

.hebrewText {
  direction: rtl;
  unicode-bidi: embed; /* Often used with direction: rtl; */
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  min-height: calc(100vh - 40px);

  @include variables.bg();

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    background: var(--color-primary-glass);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    margin-bottom: 20px;
    h1 {
      margin: 0;
      padding: 0;
    }
    nav {
      display: flex;
      align-items: center;
      gap: 30px;
      button {
        margin: 0;
      }
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        gap: 30px;

        svg {
          color: var(--color-text-primary);
          &:hover {
            color: var(--color-accent);
          }
        }
      }
    }
  }

  main {
    flex-grow: 1;

    .mainContent {
      max-width: 1000px;
      margin: 0 auto;

      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      background: var(--color-primary-glass);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.2px);
      -webkit-backdrop-filter: blur(6.2px);
    }
  }

  footer {
    display: inline-block;
    align-self: center;

    background: var(--color-primary-glass);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(1px);

    padding: 0px 20px;
    margin-top: 20px;

    p {
      display: inline-block;
    }
  }
}
