@use "../../styles/variables";

.hebrewText {
  direction: rtl;
  unicode-bidi: embed; /* Often used with direction: rtl; */
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: image-set(
    url("../../assets/images/bg.avif") type("image/avif")
  );
  background-size: cover; /* Or contain, auto, etc. */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  header {
    font-family: var(--font-family-base);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-primary);
    padding: 5px 40px;
    text-align: center;
    background: rgba(176, 224, 230, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    margin: 20px;
    nav {
      display: flex;
      align-items: center;
      button {
        margin-left: 20px;
      }
      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        li {
          padding: 0;
          margin: 0;
          * {
            margin-left: 10px;
            color: var(--color-text-primary);
            & :hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  main {
    font-family: var(--font-family-base);

    flex-grow: 1;

    .mainContent {
      max-width: 1000px;
      margin: 0 auto; /* Center the main content */
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      background: rgba(176, 224, 230, 0.65);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.2px);
      -webkit-backdrop-filter: blur(6.2px);
    }
  }

  footer {
    display: inline-block;
    align-self: center;

    background: rgba(176, 224, 230, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(1px);

    padding: 0px 20px;
    font-size: 0.9em;

    margin-top: 20px;
    margin-bottom: 10px;

    p {
      font-family: var(--font-family-base);
      display: inline-block;
    }
  }
}

.toggleLanguageButton {
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 1px 3px var(--color-secondary);

  &:hover {
    background-color: var(--color-uniqe);
    box-shadow: 0 2px 8px var(--color-uniqe);
  }
}
