@use "../../styles/variables";

@mixin contrustSolution {
  color: white;
  text-shadow:
    0 0 8px rgba(0, 2, 74, 0.5),
    0 0 16px rgba(0, 2, 74, 0.3),
    0 0 40px rgb(0, 0, 0);
}
.hebrewText {
  direction: rtl;
  unicode-bidi: embed; /* Often used with direction: rtl; */
}
.cardOverlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 0;
  background: linear-gradient(
    135deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  &:hover {
    background-color: rgba(white, 0.3);
  }
}

.expandableCard {
  position: relative;
  border-radius: 20px;
  margin-bottom: 15px;
  overflow: hidden;
  max-width: 1000px;
  min-width: 300px;
  background-image: var(--background-image-url);
  background-size: cover; /* Scale the background image to be as large as possible */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */

  .cardHeader {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    user-select: none; // Prevent text selection on click
    transition: background-color 0.2s ease; // Smooth hover effect

    .headerTitle {
      position: relative;
      z-index: 1;
      flex-grow: 1;
    }
    .dateOverlay {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      background-color: rgba(0, 2, 74, 0.4);
      margin: 0;
      min-width: 100px;
      .returnDate {
        color: #f43652;
        text-shadow:
          0 0 8px rgba(255, 0, 0, 0.7),
          0 0 16px rgba(235, 24, 55, 0.4),
          0 0 40px rgba(235, 24, 55, 0.3);
        font-size: 0.9em;

        white-space: nowrap; // Prevent wrapping for short text
      }
      .available {
        // Style for the strong tag

        color: #2ecc40;
        text-shadow:
          0 0 8px rgba(46, 204, 64, 0.7),
          0 0 16px rgba(46, 204, 64, 0.4),
          0 0 40px rgba(46, 204, 64, 0.3);
        font-size: 0.9em;

        white-space: nowrap; // Prevent wrapping for short text
      }
    }

    h3 {
      margin: 0;
      font-size: 1.2em;
      @include contrustSolution;
    }

    .toggleIcon {
      @include contrustSolution;
      font-size: 1em;
      transition: transform 0.2s ease;
      margin: 0px 15px;
      &.expanded {
        transform: rotate(180deg);
      }
    }
  }

  .descriptionWrapper {
    position: relative;
    z-index: 1;
    // Hidden by default with max-height: 0 and opacity: 0
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
      max-height 0.2s ease,
      opacity 0.2s ease,
      padding 0.2s ease; // Include padding in transition

    // When expanded, reveal content
    &.expanded {
      max-height: 400px; // Set to a large enough value
      opacity: 1;
    }

    .cardDescription {
      display: flex;
      color: white;
      text-shadow:
        0 0 8px rgba(0, 2, 74, 0.5),
        0 0 16px rgba(0, 2, 74, 0.3);
      p {
        margin: 0px 40px 20px 40px;
      }
      .dateOverlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 15px 0 15px;
        background-color: rgba(0, 2, 74, 0.4);
        min-width: 100px;
        a {
          margin-bottom: 20px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          > * {
            filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.6));
            color: rgba(255, 255, 255, 0.7);
            &:hover {
              color: #c40048d0;
              filter: drop-shadow(0 0 5px #c40048d0)
                drop-shadow(0 0 8px #c40048d0);
            }
          }
        }
      }
    }
  }
}
