.main {
  .header {
    display: flex;
    align-items: center;
    gap: 20px;
    h1 {
      margin-bottom: 10px;
    }
    .icon {
      padding-top: 10px;
      color: #c40048;
      filter: drop-shadow(0 0 8px #c40048);
    }
  }
  p {
    margin: 0 20px;
    font-weight: 600;
    margin-bottom: 50px;
  }
}
