@use "../../styles/variables";

.accordionBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;

    color: var(--color-text-primary);
  }
  margin: 10px 0px 10px 0px;
}
.accordionSubHeader {
  padding: 0px 3px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-secondary);
}

.toggleButton {
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: variables.$border-radius-md;
  padding: 8px 16px;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
  box-shadow: 0 1px 3px var(--color-secondary);

  &:hover {
    background-color: var(--color-uniqe);
    box-shadow: 0 2px 8px var(--color-uniqe);
  }
}
